<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/CGoodwin90" target='_blank'><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/chris-goodwin-bb85a416a/" target='_blank'><i class="fab fa-linkedin"></i></a>
      <a href="mailto:christopher.goodwin2190@gmail.com" target='_blank'><i class="far fa-envelope"></i></a>
    </div>
    <div class="footer-copyright">
      Made by WingIt | Revived and enhanced
    </div>
</div>