
.banner-carousel {
  height: 60vh;
}

.banner-text-box {
  position: absolute;
  width: fit-content;
  top: 23%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;

  @media (max-width: 1000px) {
    top: 15%;
    left: 35%;
  }

  @media (max-width: 550px) {
    top: 24%;
    left: 50%;
    text-align: center;
  }

  .banner-buttons {
    color: $primary-red;
    margin-top: 40px;
  }
}

.homepage-user .banner-text-box {
  position: absolute;
  width: fit-content;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;

  @media (max-width: 1000px) {
    top: 40%;
    left: 35%;
  }

  @media (max-width: 550px) {
    top: 45%;
    left: 50%;
    text-align: center;
  }
}


.banner-text-box h1 {
  font-size: 64px;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-weight: bold;

  @media (max-width: 1000px) {
    font-size: 50px;
  }

  @media (max-width: 768px) {
    font-size: 40px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
  }

}

.banner-testimonial {
  background-position: center;
  background-color: $primary-dark;
  height: auto;
  padding: 24px;
  color: $primary-white;
  width: 50%;
  text-align: center;

    h4 {
      margin-top: 15%;
    }
}

@media (max-width: 600px) {
  .homepage .banner-testimonial {
    width: 100%;
  }
}

// --------------------------------------

.show-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://res.cloudinary.com/dthdgcolp/image/upload/v1634970570/BG_Images/papers.co-be53-thor-ragnarok-red-film-marvel-hero-art-illustration-1920x1080_zvhis2.jpg);
  background-attachment: fixed; /* keeps the image in the same place when scrolling */
  background-size: cover; /* shows the whole image/background */
  background-position: center;
  height: 45vh; /* fill this header with 100% of the viewpoint. */
}

.show-text {
  position: absolute;
  width: fit-content;
  top: 33%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: white;

  h1 {
    font-size: 54px;

    @media (max-width: 700px) {
      font-size: 40px;
    }

    @media (max-width: 450px) {
      font-size: 32px;
    }
  }

  p {
    font-size: 16px
  }

  @media (max-width: 1030px) {
    left: 54%;
  }

  @media (max-width: 700px) {
    top: 35%;
    left: 50%;
  }
}

.homepage-banner {
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: sticky;
}

.homepage-howitworks {
  height: auto;
  position: sticky;
  background-color: #1a1a1a;
  color: white;

  h5 {
    margin-bottom: 24px;
  }

  h3 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.homepage-testimonial {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.test-text {
  img {
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.homepage-banner {

  h3 {
    color: white;
    font-size: 60px;
    width: 60%;
    line-height: 40px;
    letter-spacing: 2px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    @media (max-width: 600px) {
      font-size: 40px;
      padding-left: 4% !important;
    }
  }
}
.homepage.col-xl-12, .banner-text-box.col-xl-12 {
  padding: 0;
}









