.container-discover {
  margin-top: 80px;
  height: 60vh;
  // position: sticky;
  // top: 0;
  // z-index: 1;
  // background-size: cover;
  // background-repeat: no-repeat;
}

.container-testimonial {
  margin-top: 88px;
  height: auto;
  position: relative;
  display: flex;

  @media (max-width: 600px) {
    display: block;
  }
}

.container.homepage-testimonial {
  height: auto;
}

.homepage-user .container {
  padding: 0;
}

.container-show {
  height: 100vh;
  width: 100%;
}

.container-map {
  height: 100vh;
  width: 100%;
  background-color: $primary-dark;

  h1 {
    color: white;
    padding-top: 64px;
    font-size: 48px;

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  p {
    color: white;
  }

  @media (max-width: 600px) {
    padding: 0 16px;
  }
  
}

.inner-container {
  background-color: $primary-dark;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 0;
}

.h4h-login {
  max-width: 600px;
  margin: 60px auto;
  border: 2px solid #212629;
  padding: 20px;

  @media (max-width: 610px) {
    border: none;
  }

  h2 {
    @media (max-width: 450px) {
      font-size: 1.5rem;
    }
  }

  .btn-search {
    @media (max-width: 450px) {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}